<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 left-container">
    <!-- start bill section -->

    <div class="row  push-up">
        <div class="panel panel-default ">
            <h3>Bill of Materials</h3>
            <div class="panel-body bill-panel">
                <ng-include src="'app/views/quote/fx/_bom_items.html'"></ng-include>
                <div class="bill-footer">
                    <ng-include src="'app/views/quote/quote.distributors.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 push-up">
    <div class=" row panel panel-default doc-panel new-quote-version" style="min-width: 263px;">
        <h3 class="document-title">
            Next Steps
<!--             <div class="container-invite-btn pull-right">
              <a class="" href="{{project.info.share_url}}" id="share_project" ng-click="shareFunc()" tab-stop-Q ><img class="img-share" src="assets/images/invite.png"></a>
              <span>INVITE</span>
            </div> -->
        </h3>
        <div class="panel-body panel-body-quote panel-body-quote-new">
            <div class="container-bill-buttons">
<!--                 <div class="bill-links">
                    <a class="btn btn-custom new-request-quote" href="" id="button_quote" ng-click="sea.openQuote($event)"><img class="img-print" src="assets/images/text_file.png"> &nbsp;Request Quote</a>
                </div>
                <search-distributor ng-show="sea.distBack"></search-distributor> -->
                <div class="bill-links container-multi-btn" ng-if="project.info.download_pdf.toString() == '[object Object]'">
                    <a class="btn btn-custom large-btn" target="_blank" href="{{project.info.print_project}}" id="print_project" ng-click="printFunc()"><img class="img-print" src="assets/images/print.png"> &nbsp;Print Project</a>
                    <a class="btn small-btn pull-right" ng-click="shareReport('Rep')" href="">
                        <img class="" src="assets/images/email.png">
                    </a>
                </div>
                <div class="bill-links container-multi-btn" ng-if="project.info.download_pdf.toString() != '[object Object]'">
                    <div class="btn btn-custom large-btn" id="download_project" download="report.pdf" ng-click="downloadPdf(project.info.download_pdf, 'repo')">
                        <div ng-if="buidingRep">
                            <svg class="saving-loader" width="28" height="28">
                                <circle class="line-load" cx="14" cy="14" r="12" />
                            </svg>
                            <span class="building">
                        Building Report
                    </span>
                        </div>
                        <div ng-if="!buidingRep">
                            <img class="img-download pull-right" src="assets/images/pdf.png">
                            <span>&nbsp;Project Report</span>
                        </div>
                    </div>
                    <a class="btn small-btn" ng-click="shareReport('Rep')" href="">
                        <img class="" src="assets/images/email.png">
                    </a>
                </div>
                <div class="bill-links container-multi-btn">
                    <div class="btn btn-custom normal-btn" id="download_bom_report" download="Bom_report.pdf" ng-click="downloadPdf(project.info.download_bom, 'bom')" ng-if="project.info.download_bom.toString() !== '[object Object]'">
                        <div ng-if="!buidingBom">
                            <span>
                        &nbsp;Bill of Materials
                    </span>
                            <img class="img-download" src="assets/images/pdf.png">
                        </div>
                        <div ng-if="buidingBom">
                            <svg class="saving-loader" width="28" height="28">
                                <circle class="line-load" cx="14" cy="14" r="12" />
                            </svg>
                            <span class="building">
                        &nbsp;Building BOM
                    </span>
                        </div>
                    </div>
                    <div class="btn btn-custom normal-btn" id="download_csv_report" ng-click="downloadCsvFunc()" ng-if="project.info.download_bom.toString() === '[object Object]'">
                        <div ng-if="!buidingBom">
                            <span>
                        &nbsp;Bill of Materials
                    </span>
                        </div>
                        <div ng-if="buidingBom">
                            <svg class="saving-loader" width="28" height="28">
                                <circle class="line-load" cx="14" cy="14" r="12" />
                            </svg>
                            <span class="building">
                        &nbsp;Building BOM
                    </span>
                        </div>
                    </div>
                    <div class="btn small-btn" target="_blank" id="billof_project" download="bom.csv" name="bomCSV" ng-click="downloadCsvFunc()"><img class="csv-img-class" src="assets/images/csv.png">
                    </div>
                    <div class="btn small-btn" ng-click="shareReport('bom')" href="">
                        <img class="" src="assets/images/email.png">
                    </div>
                </div>
            </div>
            <div class="group-label-documents">
                <label>Certification</label>
            </div>
            <div class="row-installation">
                <a ng-repeat="certification in project.info.documents.certification_letters" href="{{certification.url}}" target="_blank" ng-click="documentAnalytic()">{{certification.name}}</a>
            </div>
            <div class="group-label-documents">
                <label>Installation</label>
            </div>
            <div class="row-installation">
                <a  href="{{project.info.documents.install_manuals.url}}" target="_blank" ng-click="documentAnalytic()">{{project.info.documents.install_manuals.name}}</a>
            </div>
        </div>
        <!-- end document section -->
    </div>
</div>
</div>
