@import '../../variable';
@media (min-width: $sm) and (max-width: $md) {
  .container-win-ground{
    padding-right: 0!important;
    .container-win-speed, .container-ground-snow, .container-snow-load{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  .container-wind-exposure{
    padding-right: 0;
  }

}
.site-view {
  // .wind_snow_building{
  //   margin-left: 0;
  //   margin-right: 0;
  //   .container_wind_snow{
  //     margin-left: 45px;
  //     .wind_snow{
  //       height:230px;
  //     }
  //   }
  //   .building{
  //     height:230px;
  //   }
  // }
  .radio{
    margin-top: 4px;
    margin-left: 6px;
  }
  .marg-l-10{
    margin-left: 10px;
  }
  .container-module-item{
    margin: 0;
    .container-color-radio{
      width: 100%;
    }
  }
  .container-building-item{
    margin: 0;
  }

.regular-radio + label:before {
    background-color: #f7faf8;
    border-radius:10px;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    content: ' ';
    margin-right: 10px;
    cursor: pointer;
    border: solid 1px #A8B3AB;
    box-shadow: 0px 0px 0px 2px #f7faf8 inset;
}
.regular-radio + label {
  padding-left: 0;
}
.regular-radio:checked + label:before {
  background: #54A4FF;
  border: solid 1px #54A4FF ;
}
.regular-radio:focus + label:before {
  background: #54A4FF;
  border: solid 1px #54A4FF ;
}
.regular-radio:disabled + label:before {
  opacity: 0.5;
}
.regular-span {
  color: rgb(96, 102, 98) !important;
  font-size: 15px !important;
  font-family: "Open Sans" !important;
  line-height: 19px !important;
  margin-top: -2px;
  position: absolute;
  margin-top: 0px;
}
.dimension{
  font-size: 12px;
}
input[type='radio']{
  border-radius: 10px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin-top: -1px;
  margin-left: 0px;
  opacity: 0;
  z-index: 111;
  cursor: pointer;
  }
  input[type='radio']:disabled{
    cursor: not-allowed;
  }
  .margin-top-0{
    margin-top: 0px;
  }
  .min-height{
    min-height: 150px;
  }
  .error-location-msg{
    width: 137px;
    margin-top: 10px;
  }
  .background-col{
    background-color:#F7FAF8;
  }
  // .wind_snow_position{
  //   width: 960px;
  //   margin-left: -15px;
  // }

  .risk-cat{
    margin-left: -15px;
  }
  .roof-sloop{
    margin-left:13px;
  }
  .input-important{
    input + span{
       color: #606662!important;
       font-size: 15px !important;
       font-family: "Open Sans" !important;
       line-height: 19px!important;
    }
  }
  .error{
    color : red;
  }
  .inputError{
    border: 1px solid red;
  }
  .panel {
    i{
      font-size: 1.3rem;
    }
    h3 {
      margin-top: 12px;
      margin-left: 15px;
      margin-bottom: 12px;
      font-size: 2.5rem;
      font-weight: 300;
      color: #606662;
    }

    .panel-body {
      padding: 0;
      margin: 0;

      .risk-catII{
        margin-left: -19px;
        color: #606662 !important;
        font-size: 15px !important;
        cursor: default !important;
      }
      .input-group {
        float: left;
        label {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 10px;
          margin-bottom: 6px;
          color: #A8B3AB;
          line-height: 19px;
        }

        select {
          width: 70%;
          max-width: 100px;
          min-width: 80px;
          margin-bottom: 30px;
          border-radius: 2px;
          font-family: "Open Sans";
          padding-top: 5px !important;
        }
        .span-asce{
          font-size: 9px;
          }
        .roof{
          width: 70%;
          font-family: "Open Sans";
          margin-top: 7px;
          margin-left: 19px;
          color: #606662;
        }
        .unity {
          padding-left: 4px;
          line-height: 32px;
          font-size: .9rem;
          // display: inherit;
        }
        h4 {
          color: #606662;
          font-size: 15px;
          font-family: "Open Sans";
          font-weight: 400;
          line-height: 20px;
          margin-top: 7px;
        }
        .form-control:last-child {
          margin-bottom: 30px;
        }

      }
      .form-control {
        font-family: "Open Sans";
        border-color: #A8B3AB !important;
        padding-left: 10px;
        padding-right: 10px;
        background-color:#F7FAF8;
      }
    }
    .group-col{
      padding: 0;
    .white-col{
      width: 34px;
      height: 34px;
      background-color: #e1e6e2;
      border-radius: 2px;
      display: inline-block;
      cursor: pointer;
      border: solid 1px #e1e6e2;
    }
    .black-col{
      width: 34px;
      height: 34px;
      background-color: #484d49;
      border-radius: 2px;
      display: inline-block;
      cursor: pointer;
      border: solid 1px #484d49;
    }
    }
    .color-radio {
      padding: 0;
      div {
        margin: 0;
        display: inline-block;
        // margin-top: 2px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"] + label {
        line-height: 20px;
        font-size: 0.9rem;
        font-weight: 400;
        width: 30px;
        text-align: center;
        color: black;
        margin-right: 4px;
      }
      input[type="radio"] + label span {
        display: block;
        width: 34px;
        height: 34px;
        //vertical-align: middle;
        cursor: pointer;
        border-radius: 2px;
        margin-right: 25px;
      }
      .black-radio {
        input[type="radio"] + label span {
          background-color: #484D49;
          margin-left: 2px
        }
        input[type="radio"]:checked + label span {
          border: 3px solid $coolblue;
        }
        input[type="radio"]:disabled + label span {
          border: none !important;
          cursor: not-allowed;
        }
      }
      .white-radio {
        input[type="radio"] + label span {
          background-color:#e1e6e2;
          //border: 1px solid $bordercolor;
        }
        input[type="radio"]:checked + label span {
          border: 3px solid $coolblue;
        }
        input[type="radio"]:disabled + label span {
          border: none !important;
          cursor: not-allowed !important;
        }
      }
      input[type="radio"] + label span,
      input[type="radio"]:checked + label span {
        transition: border 0.1s linear;
      }
    }
    .module-panel {
      font-family: "Open Sans";
        padding-top: 12px;

      h3 {
        margin-left: 0;
        margin-top: 0;
      }
      h5 {
        //float: right;
        color: #606662;
      }

      .ui-select-bootstrap .ui-select-toggle {
        border: 1px solid #A8B3AB;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 2px;
        background-color: #F7FAF8 !important;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAKCAYAAABSfLWiAAAAAXNSR0IArs4c6QAAAT9JREFUKBWV0MFOAjEQBuBOkWBMfADfRRZRT5408Q08eSEowUBZXbtZ2ATRbDzrG3j2pIiCUQ8+i4nx4EE6/jWUZM0aQw876XTm62xJtdUSf8mNOIguxYyrqf0dmjPX0oxpi9lcNLRqzmI0w5ayfRhgM7feX3sd3xsCEC6Xi5+jwfDxPwxAgw13SFBYCPKntvlnKe1Hhk2LJNXjo3bP5X9HpVXdsOgCiOLj9qE9z7mi4eChX1zx5pk59MqlD+yf3JmLuKhmmE8kyRiA7/JTxCbwK7eAFliwBvQO6NkVAtjDpBidugBS75dCJtAN3mYRE+niqvc2uhu+4A0q2CcAegAOHOzi9E1cwkY0EG4+w0RVFFyxENsAkk4Q7RMRtumVidiSCZQAqgA4B1DNAmyttJ+sZRsKpXxNSNq18S/A9n4DpCSQZhyNCqEAAAAASUVORK5CYII=')!important;
        background-repeat: no-repeat;
        background-position: right 10px center;
        cursor: default;
        height: 30px;
        min-width: 100px;
        span {
          color: black;
        }

        i {
          display: none;

        }
        p{
          height: 5px;
        }
      }
.ui-select-bootstrap .ui-select-toggle[disabled]{
  cursor: not-allowed;
}
    }

  }
}
