<div id="modalTerm"class="modal-help modal fade">
    <div class="modal-dialog bg-success">
        <div class="modal-content modal-accept-content">
            <div class="modal-header modal-header-help modal-accept-head">
                <button aria-hidden="true" class="close modal-accept-but" data-dismiss="modal" type="button" >&times;</button>
                <h4 class="modal-title modal-accept-title">Terms of Service</h4>
            </div>
            <div class="modal-body modal-accept-body">
                <p>The IronRidge Design Assistant was developed to assist users in creating system designs with IronRidge products but does not guarantee that the resulting system design is appropriate for the application selected by the user nor does it address the adequacy of the supportive framing of the building or structure upon which the system will be installed.</p>
                <p>By using the Design Assistant, the user claims all responsibility for the accuracy and validity of the design inputs and, thereby, resulting calculations. It is the responsibility of the user to ensure the system is installed in a code compliant manner based on accurate site information. IronRidge makes no representation or warranty, either express or implied, of any kind with respect to this software or its contents (such as product information, recommendations, applicability, descriptions or prices) including, but not limited to, merchantability and fitness for a particular purpose, how current it is, its accuracy, its completeness, product availability, its security or that defects will be corrected.</p>
                <p>IronRidge is free to use any information you submit via the use of the Design Assistant for marketing, sales and any other lawful purposes.</p>
            </div>
            <div class="modal-footer" style="border: none;">
                <button  class="modal-footer-butt" ng-click="acceptTermeToDesign()">Accept</button>
            </div>
        </div>
    </div>
</div>
<div id="modalTerm2"class="modal-help modal fade">
    <div class="modal-dialog bg-success">
        <div class="modal-content modal-accept-content">
            <div class="modal-header modal-header-help modal-accept-head">
                <button aria-hidden="true" class="close modal-accept-but" data-dismiss="modal" type="button" >&times;</button>
                <h4 class="modal-title modal-accept-title">Terms of Service</h4>
            </div>
            <div class="modal-body modal-accept-body">
                <p>The IronRidge Design Assistant was developed to assist users in creating system designs with IronRidge products but does not guarantee that the resulting system design is appropriate for the application selected by the user nor does it address the adequacy of the supportive framing of the building or structure upon which the system will be installed.</p>
                <p>By using the Design Assistant, the user claims all responsibility for the accuracy and validity of the design inputs and, thereby, resulting calculations. It is the responsibility of the user to ensure the system is installed in a code compliant manner based on accurate site information. IronRidge makes no representation or warranty, either express or implied, of any kind with respect to this software or its contents (such as product information, recommendations, applicability, descriptions or prices) including, but not limited to, merchantability and fitness for a particular purpose, how current it is, its accuracy, its completeness, product availability, its security or that defects will be corrected.</p>
                <p>IronRidge is free to use any information you submit via the use of the Design Assistant for marketing, sales and any other lawful purposes.</p>
            </div>
            <div class="modal-footer" style="border: none;">
                <button  class="modal-footer-butt" ng-click="acceptTermeToQuote()">Accept</button>
            </div>
        </div>
    </div>
</div>