<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 left-container-mount">
    <div class="row push-up">
        <div ng-show="projectMount.info.ownership.shared" class="isshared">
            <span>You are editing a project created by {{projectMount.info.ownership.owner_name}}
          </span>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body cessori-panel">
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <h3>Accessories</h3>
                    </section>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1M" ng-change="onAccessoriesSelectMount()" ng-model="projectMount.info.accessories.wire_clips">Wire Clips
                        </label>
                        <sup>
                  <i class="ion-ios-information-outline" ng-click="toggleModal('Wire_Clips')"></i>
                </sup>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 container-end-caps">
                        <div style="min-width:175px;margin:0;"><label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2M" ng-change="onAccessoriesSelectMount()" ng-model="projectMount.info.accessories.end_caps"> End Caps
                        </label>
                        <sup>
                  <i class="ion-ios-information-outline" ng-click="toggleModal('End_Caps')"></i>
                </sup></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 container-microinverter last-one">
                        <div style="min-width:175px;">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3M" ng-change="onAccessoriesSelectMount()" ng-model="projectMount.info.accessories.micro_inverter_kit"> Microinverter Kits</label>
                        <sup>
                  <i class="ion-ios-information-outline" ng-click="toggleModal('Microinverter_Kits')"></i>
                </sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default ">
                <h3>Bill of Materials</h3>
                <div class="panel-body bill-panel">
                    <!-- start not ufo version -->
                    <ng-include src="'app/views/quote/mount/_bom_items.html'"></ng-include>
                    <!-- end ufo version -->
                    <div class="bill-footer">
                        <ng-include src="'app/views/quote/quote.distributors.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default" id="materialsParty">
                <h3 class="title">3rd Party Materials</h3>
                <div class="row material">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <h1 class="title-h1">CONCRETE</h1>
                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">VOL/PIER</label>
                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">TOTAL PIERS</label>
                            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4">TOTAL VOL</label>
                        </div>
                        <div class="row margin">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{projectMount.info.third_party_material.concrete.vol_per_pier}} yd<sup>3</sup></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{projectMount.info.third_party_material.concrete.total_piers}}</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{projectMount.info.third_party_material.concrete.total_volume}} yd<sup>3</sup></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h1 class="title-h1">PIPE/TUBING</h1>
                        <div class="row">
                            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5">TOTAL PIPE LENGTH</label>
                        </div>
                        <div class="row margin">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-if="projectMount.info.third_party_material.total_pipe_length.feet">{{projectMount.info.third_party_material.total_pipe_length.feet}}' {{parseFloat(projectMount.info.third_party_material.total_pipe_length.inches)}}"</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 push-up">
    <div class=" row panel panel-default doc-panel new-quote-version"  style="min-width: 263px;">
        <h3 class="document-title">
          Next Steps
          <div class="container-invite-btn pull-right">
            <a class="" href="{{projectMount.info.share_url}}" id="share_project_mount" ng-click="shareFunc()" tab-stop-QM><img class="img-share" src="assets/images/invite.png"></a>
            <span>INVITE</span>
          </div>
        </h3>
        <div class="panel-body panel-body-quote panel-body-quote-new">
            <div class="container-bill-buttons">
                <div class="bill-links">
                    <a class="btn btn-custom new-request-quote" href="" id="button_quote" ng-click="sea.openQuote($event)"><img class="img-print" src="assets/images/text_file.png"> &nbsp;Request Quote</a>
                </div>
                <search-distributor ng-show="sea.distBack"></search-distributor>
                <div class="bill-links container-multi-btn" ng-if="projectMount.info.download_pdf.toString() == '[object Object]'">
                    <a class="btn btn-custom large-btn" target="_blank" href="{{projectMount.info.print_project}}" id="print_project" ng-click="printFunc()"><img class="img-print" src="assets/images/print.png"> &nbsp;Print Project</a>
                    <a class="btn small-btn pull-right" ng-click="shareReport('Rep')" href="">
                        <img class="" src="assets/images/email.png">
                    </a>
                </div>
                <div class="bill-links container-multi-btn" ng-if="projectMount.info.download_pdf.toString() != '[object Object]'">
                    <div class="btn btn-custom large-btn" id="download_project" download="report.pdf" ng-click="downloadPdf(projectMount.info.download_pdf, 'repo')">
                        <div ng-if="buidingRep">
                            <svg class="saving-loader" width="28" height="28">
                                <circle class="line-load" cx="14" cy="14" r="12" />
                            </svg>
                            <span class="building">
                            Building Report
                        </span>
                        </div>
                        <div ng-if="!buidingRep">
                            <img class="img-download pull-right" src="assets/images/pdf.png">
                            <span>&nbsp;Project Report</span>
                        </div>
                    </div>
                    <a class="btn small-btn" ng-click="shareReport('Rep')" href="">
                        <img class="" src="assets/images/shape.png">
                    </a>
                </div>
                <div class="bill-links container-multi-btn">
                    <div class="btn btn-custom normal-btn" id="download_bom_report" download="Bom_report.pdf" ng-click="downloadPdf(projectMount.info.download_bom, 'bom')">
                        <div ng-if="!buidingBom">
                            <span>
                            &nbsp;Bill of Materials
                        </span>
                            <img class="img-download" src="assets/images/pdf.png">
                        </div>
                        <div ng-if="buidingBom">
                            <svg class="saving-loader" width="28" height="28">
                                <circle class="line-load" cx="14" cy="14" r="12" />
                            </svg>
                            <span class="building">
                            &nbsp;Building BOM
                        </span>
                        </div>
                    </div>
                    <div class="btn small-btn" target="_blank" id="billof_project" download="bom.csv" name="bomCSV" ng-click="downloadCsvFunc()"><img class="csv-img-class" src="assets/images/csv.png">
                    </div>
                    <div class="btn small-btn" ng-click="shareReport('bom')" href="">
                        <img class="" src="assets/images/shape.png">
                    </div>
                </div>
            </div>
            <div class="group-label-documents">
                <label>Certification</label>
            </div>
            <div class="row-installation">
                <a ng-repeat="certification in projectMount.info.documents.certification_letters" href="{{certification.url}}" target="_blank" ng-click="documentAnalytic()">{{certification.name}}</a>
            </div>
            <div class="group-label-documents">
                <label>Installation</label>
            </div>
            <div class="row-installation">
                <a ng-repeat="manual in projectMount.info.documents.install_manuals" href="{{manual.url}}" target="_blank" ng-click="documentAnalytic()">{{manual.name}}</a>
            </div>
            <div class="group-label-documents">
                <label>Design</label>
            </div>
            <div class="row-installation">
                <a href="{{projectMount.info.documents.autocad_dwg.url}}" target="_blank" ng-click="documentAnalytic()">{{projectMount.info.documents.autocad_dwg.name}}</a>
                <a href="{{projectMount.info.documents.autocad_pdf_preview.url}}" target="_blank" ng-click="documentAnalytic()">{{projectMount.info.documents.autocad_pdf_preview.name}}</a>
            </div>
        </div>
        <!-- end document section -->
    </div>
</div>
